body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
}

/* .wrapper {
    max-width: 1200px;
    margin: 0 auto;

} */

.header {
    /* background-color: #c44444; */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(246, 51, 51, 0.1);
    position: fixed;
    z-index: 1000;
}

.header_nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 20px;
    border-bottom: 2px solid #00b300;
    background-color: #000000;         
} 

.header_nav_logo img {
    width: 200px;
    height: auto;
}

.header_nav_links {
    display: flex;
    gap: 20px;
    padding-right: 70px;
}

.header_nav_links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 70px;
}

.header_nav_links ul li a {
    text-decoration: none;
    color: #00b300;
    font-weight: bold; 
    font-size: 18px;   
}

.header_nav_links ul li a:hover {
    color: azure;
    text-decoration: underline;
}


.home_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    /* height: ; */
    padding: 150px 100px 0 100px;
    background-color: #000;}


.home_main_left_text p {
    font-size: 100px;
    color: #00b300;
    margin-bottom: 20px;
}

.home_main_left_text :hover {
    color: azure;
    transition: color 0.3s ease;
    cursor: pointer;
}

.home_main_right_logo :hover {
    transform: scale(0.9);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.main_bottom_buts {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.main_bottom_buts button {
    padding: 15px 30px;
    font-size: 20px;
    color: #000000;
    background-color: #00b300;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.main_bottom_buts button:hover {
    background-color: rgb(255, 0, 0);
    transition: background-color 0.3s ease;
    transform: scale(0.9);
    transition: transform 0.3s ease;
    color: #005a00;
    transform: color 0.5s ease;
}

footer {
    background-color: #000000;
    color: #00b300;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #00b300;
}



